footer {
  background-color: #ce9256c0;
  padding: 20px;
  text-align: center;
  position: relative;
  height: 15%;
  width: 100%;
  border: 1px solid #003E00;
  margin-top: auto; 
}
  
  .footer-bottom {
    margin-top: 10px;
    color: #888;
  }