header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.8); /* Valor del canal alfa (alpha) para la opacidad */     

}

.header .logo {
    cursor: pointer;
}
  
.header .logo img {
    transition: all 0.3s;
    height: auto;
    width: 130px;
}
  
.header .logo img:hover {
    transform: scale(1.2);
}

.opcion a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    margin-left: 20px;
    padding: 6px 15px;
    transition: .5s;
}

.opcion a span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 30px;
    z-index: -1;
    opacity: 0;
    transform: scale(0);
}

.opcion a:hover span {
    transform: scale(1);
    opacity: 1;
}

ul li {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
    }

.opcion a:hover {
    color: #333;

}

@media screen and (max-width: 768px) {
    header {
        padding: 20px;
    }

    .header .logo img {
        width: 100px;
    }

    .nav-links {
        position: absolute;
        top: 100%;
        right:0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        padding: 10px;
        display: none;
    }

    .nav-links.show {
        display: flex;
        flex-direction: column;
        text-align: right;
        width: max-content;
    }

    .nav-toggle {
        display: block;
        color: #fff;
        font-size: 1.5em;
        cursor: pointer;
    }
}
