* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
.cuerpo {
    background-color: #ce925693;
    min-height: 10000px;
}

.logo-principal {
    padding: 300px 600px;
    height: 1000px;
}
.Nosotros {
    height: 2000px;

}

li, a, button {
font-weight: 500;
font-size: 16px;
color: #003E00;
text-decoration: none;
}

button {
    font-weight: 500;
    font-size: 22px;
    color: #ce9256;
    text-decoration: none;
    }
    
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10%;
    background-color: #ce9256be;
    /*border-left: 2px solid #003E00;
    border-right: 2px solid #003E00;*/
    border-bottom: 1px solid #003E00;
    /*border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;*/
}
.nav-links {
    list-style: none;
}
.nav-links li {
display: inline-block;
padding: 0px 20px;
}

.header .nav-links li::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #003E00;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.6s ease-out;
  }
  .header .nav-links li:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  .header .nav-links li:hover {
    transform: scale(1.1);
  }

button {
    padding: 9px 25px;
    background-color:#003e00c0;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color:#003e00;
    transform: scale(1.1);
}

.header .logo {
    cursor: pointer;
}
  
.header .logo img {
    transition: all 0.3s;
    height: auto;
    width: 130px;
}
  
.header .logo img:hover {
    transform: scale(1.2);
}

.menu-perfil {
    width: auto;
}

.menu-perfil .select-btn {
    display: flex;
    height: 5px;
    background-color: #ce9256af;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 75%;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    box-shadow: #ce925600;
}

.menu-perfil .opciones {
    position: absolute;
    padding: 20px;
    margin-top: 5px;
    border-radius: 5px;
    background-color: #ce9256;
    box-shadow: #ce925600;
    list-style: none;
}

.menu-perfil.active .opciones {
    display: none;
}

.opciones .opcion {
    display: flex;
    height: 55px;
    cursor: pointer;
    padding: 0 16px;
    border-radius: 5px;
    align-items: center;
    background-color: #ce9256af;
    font-size: 17px;
}

.opciones .opcion:hover {
    background-color: #003e0077;
}

.Nosotros-titulo {
    position: relative;
    text-align: center;
    padding: 100px;
    font-size: 90px;
}

.mision {
    position: relative ;
    border-left: 2px solid #003E00;
    border-right: 2px solid #003E00;
    border-bottom: 2px solid #003E00;
    border-top: 2px solid #003E00;
    width: 900px;
    height: 900px;
    left: 500px;
    right: 500px;
}

.mision-titulo-1{
    position: absolute;
    width: 450px;
    height: 446px;
    top: 0;
    left: 25%;
    padding: 20px;
    font-size: 60px;
    border-right: 2px solid #003E00;
    transform: translateX(-50%);
}

.texto-mision {
    font-size: 20px;
    text-align: justify;
}

.texto-vision {
    font-size: 20px;
    text-align: justify;  
}

.texto-valores {
    font-size: 20px;
    text-align: justify;
    
}

.vision-titulo-1{
    position: absolute;
    width: 450px;
    height: 446px;
    top: 0;
    left: 50%;
    font-size: 60px;
    padding: 20px;
}

.valores-titulo-1 {
    position: absolute;
    width: 100%;
    height: 450px;
    font-size: 60px;
    bottom: 0;
    border-top: 2px solid #003E00;
}

.mision-titulo-2{
    text-align: center;
}

.vision-titulo-2 {
    text-align: center;
}

.Valores-titulo-2 {
    text-align: center;
}
.contacto-titulo {
    position: relative;
}
.form-contacto {
    position: relative;
    bottom: 100px;
    height: 50vh;
    width: 400px;
    padding: 1rem;
    margin: 2rem;
    background-color:#ce9256a1;
  }

  .form-soporte {
    position: relative;
    bottom: 100px;
    height: 50vh;
    width: 400px;
    padding: 1rem;
    margin: 2rem;
    background-color:#ce9256a1;
  }

  .form-contacto input {
    width: 72%;
    display: block;
    margin: auto;
    margin-bottom: 3rem;
    background-color: transparent;
    border: none;
    border-bottom: #55672B thin solid;
    text-align: center;
    outline: none;
    padding: 0.2rem 0;
    font-size: 0.9rem;
    color: rgb(0, 0, 0);
  }

  .form-soporte input {
    width: 72%;
    display: block;
    margin: auto;
    margin-bottom: 3rem;
    background-color: transparent;
    border: none;
    border-bottom: #55672B thin solid;
    text-align: center;
    outline: none;
    padding: 0.2rem 0;
    font-size: 0.9rem;
    color: rgb(0, 0, 0);
  }