* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #ce925693;
    height: 100vh;
    overflow: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}
.swiper-wrapper {
    max-width: 256px;
}
.search {
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search i {
    font-size: 25px;
    color: #111111;
}

.search-txt {
    display: flex;
    align-items: center;
}

.search-txt i {
    font-size: 40px;
    color: #e00707;
}

.search-txt h2 {
    color: #003E00;
    font-size: 30px;
    margin-left: 10px;
}

.movies {
    padding: 50px 0 150px 0;
}

.movies h2 {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 20px;
}

.swiper {
    width: 100%;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 250px;
}

.swiper-slide img {
    display: block;
}

.icons {
    padding: 0 350px 50px 350px;
    display: flex;
    justify-content: space-between;
}

.icons i {
    font-size: 25px;
    color: #003E00;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons i:hover {
    color: #e00707;
    background-color: #003E00;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
