<link rel="stylesheet" href="../css/header.css">
<link rel="stylesheet" href="../css/footer.css">
<header class="header">
    <div class="logo"><img src="../css/media/Mi proyecto.png" alt="Logo de marca"></div>
    <nav class="opcines">
        <ul class="nav-links">
            <li><a href="miembros.html">Miembros</a></li>
            <li><a href="ventas.html">Ventas</a></li>
            <li><a href="trasabilidad.html">Trasabildiad</a></li>
            <li><a href="ctrplanta.html">Control de plantas</a></li>
            <li><a href="tableros.html">Tableros</a>
        </ul>
    </nav>
    </div>
</header>
<body>
    {% block content %}
    
    {% endblock %}
    <footer>
        <div class="footer-content">
          <p>Este es el contenido del footer.</p>
        </div>
        <div class="footer-bottom">
          <p>Derechos de autor &copy; 2023 - Mi Sitio Web</p>
        </div>
      </footer>
</body>