<link rel="stylesheet" href="../css/header.css">
<link rel="stylesheet" href="../css/footer.css">
<header class="header">
    <div class="logo"><img src="../css/media/Mi proyecto.png" alt="Logo de marca"></div>
    <nav class="opcines">
        <ul class="nav-links">
            <li><a href="home.html">Home</a></li>
            <li><a href="nosotros.html">Nosotros</a></li>
            <li><a href="road-map.html">Road Map</a></li>
            <li><a href="equipo.html">Equipo</a></li>
            <li><a href="contacto.html">Contacto</a></li>
        </ul>
    </nav>
        <ul class="opciones">
            <li class="opcion">
                <span class="opcion-text"><a class ="link" href="login.html">login</a></span>
            </li>
        </ul>
    </div>
</header>
<body>
    {% block content %}
    
    {% endblock %}
    <footer>
        <div class="footer-content">
          <p>Este es el contenido del footer.</p>
        </div>
        <div class="footer-bottom">
          <p>Derechos de autor &copy; 2023 - Mi Sitio Web</p>
        </div>
      </footer>
</body>