<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/home-nologin.css">
    
    <title>Clubie</title>
</head>
{% extends 'base/base-nolog.html'%}
<body>
    {% block content %}
    <section class="home">
        <div class="logo-principal"><img src="../css/media/clubie logo  3.png" alt=""></div>
    </section>
    
    {% endblock %}
</body>
</html>