<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/home-nologin.css">
    
    <title>Clubie</title>
</head>
{% extends 'base/base-nolog.html'%}
<body class="cuerpo">
    {% block content %}
    <section class="home">
        <div class="logo-principal"><img src="../css/media/clubie logo  3.png" alt=""></div>
    </section>
    <section class="Nosotros">
        <h2 class="Nosotros-titulo">Sobre Nosotros</h2>
        <div class="mision">
            <div class="mision-titulo-1">
                <h3 class="mision-titulo-2">Mision</h3>
                <p class="texto-mision">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur alias, quis blanditiis expedita iusto, unde inventore placeat consequuntur aspernatur iure reprehenderit illum? Quae aliquam quam quasi maxime consequuntur mollitia reprehenderit.

                </p>
            </div>
            <div class="vision-titulo-1">
                <h3 class="vision-titulo-2">Vision</h3>
                <p class="texto-vision">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur recusandae, nostrum, neque magni voluptates possimus architecto quos aut explicabo officiis expedita? Officia consectetur debitis quod sint autem! Ratione, illum necessitatibus.
                </p>
            </div>
            <div class="valores-titulo-1">
                <h3 class="Valores-titulo-2">Valores</h3>
                <p class="texto-valores">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Error dolorum omnis ipsa? Cumque minima voluptatum facere quibusdam laboriosam quis deserunt corrupti vel labore, officiis qui a, dignissimos odit doloremque recusandae!
                </p>
            </div>
        </div>
    </section>
    <section class="Road-Map">
        <h2 class="Road-Map-titulo">Road Map</h2>

    </section>
    <section class="Equipo">
        <h2 class="Equipo-titulo">Equipo</h2>
        <div class="equipo-cuerpo">
            <div class="Agus">
                <img src="#" alt="">
                <p class="datos"></p>
                <p class="datos"></p>
                <p class="datos"></p>
                <p class="datos"></p>

            </div>
            <div class="Charly">
                <img src="#" alt="">
                <p class="datos"></p>
                <p class="datos"></p>
                <p class="datos"></p>
                <p class="datos"></p>

            </div>
            <div class="Valle">
                <img src="#" alt="">
                <p class="datos"></p>
                <p class="datos"></p>
                <p class="datos"></p>
                <p class="datos"></p>

            </div>
            <div class="Mati">
                <img src="#" alt="">
                <p class="datos"></p>
                <p class="datos"></p>
                <p class="datos"></p>
                <p class="datos"></p>

            </div>
            <div class="Neo">
                <img src="#" alt="">
                <p class="datos"></p>
                <p class="datos"></p>
                <p class="datos"></p>
                <p class="datos"></p>

            </div>
        </div>
        

    </section>
    <section class="Contacto">
        <h2 class="Contacto-titulo">Contacto</h2>
        <form class="form-soporte">
            <input type="email" placeholder="Email">
            <input type="text" placeholder="Nombre">
            <input type="text" placeholder="Asunto problema">
            <input type="text" placeholder="Comentario">
            <button type="submit">submit</button>
        </form>
        <form action="" class="form-contacto">
            <input type="email" placeholder="Email">
            <input type="text" placeholder="Nombre">
            <input type="text" placeholder="Asunto problema">
            <input type="text" placeholder="Comentario">
            <button type="submit">submit</button>
        </form>

    </section>
    {% endblock %}
</body>
</html>