<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Clubie</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/botones.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../js/estil.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="cuerpo">
    {% extends 'base/base-nolog.html'%}
    {% block content %}
    <div id="header"></div>
    <div class="contenedor">
        <div class="logo2"><img src="../css/media/Mi proyecto.png" alt="Logo de marca"></div>
        <div class="container-form sign-up">
        </div>
        <div class="container-form sign-in">
            <form class="formulario">
                <h2 class="create-account">Iniciar Sesion</h2>

                <input type="email" placeholder="Email">
                <input type="password" placeholder="Contraseña">
                <p class="recuperar">Has olvidado tu contraseña?</p>
                <input type="button" value="Iniciar Sesion">
            </form>
        </div>
    </div>
    <section class="fondo"></section>
    {% endblock %}
</body>


</html>